
.about{
    text-align: left !important;
    color:#6E6E6D !important;
    font-weight: 400;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 8%;
    position: relative;
    font-weight: normal;
}




body{
    background-image: url(../pictures/back.jpg) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family: GillSansMTBook;

}

.start-text{
    font-size: 35px !important;
}

.points{
    letter-spacing:20px;
    font-size: 80px;
    position: relative;
    bottom: 20px;
    left: 200px;
}


